.services-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.services-heading {
  color: #262626;
  text-decoration-style: bold;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  /* Align text to the left */
}

.services-intro {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 10px;
  max-width: 800px;
}

.services-cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.service-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 15px);
  text-align: left;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex: 1 1 auto;
}

.service-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.service-image {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 5px;
  margin-left: 15px;
  text-align: left;
  /* Align text to the left */
}

.service-description {
  font-size: 1rem;
  color: #666;
  line-height: 1.5;
  margin-left: 15px;
  margin-bottom: 15px;
  text-align: left;
  /* Align text to the left */
}

/* Horizontal line styling */
.hr-line {
  width: 60%;
  margin: 20px auto;
  border: 0;
  border-top: 2px solid #ddd;
}
/* Responsive Styles */
@media (max-width: 1200px) {
  .service-card {
    width: calc(50% - 15px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 1024px) {
  .service-card {
    width: calc(50% - 15px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .services-container {
    padding: 10px;
    text-align: center;
  }

  .services-heading {
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 15px;
  }

  .services-intro {
    font-size: 0.9rem;
    margin-bottom: 20px;
    max-width: 100%;
    text-align: center;
  }

  .services-cards-wrapper {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .service-image {
    height: 150px;
  }

  .service-title {
    font-size: 1.2rem;
    margin-left: 10px;
  }

  .service-description {
    font-size: 0.9rem;
    margin-left: 10px;
    text-align: center;
  }

  .hr-line {
    width: 80%;
    margin: 10px auto;
  }
}

@media (max-width: 480px) {
  .service-card {
    width: 100%; /* Full width for small screens */
  }

  .service-title {
    font-size: 1.1rem;
    margin-left: 10px;
  }

  .service-description {
    font-size: 0.9rem;
    margin-left: 10px;
  }
}

/* Horizontal line styling */
.hr-line {
  width: 60%;
  margin: 20px auto;
  border: 0;
  border-top: 2px solid #ddd;
}